// Place all the styles related to the api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Shout Outs Google Fonts <3
@import url('https://fonts.googleapis.com/css?family=Faster+One|Mukta+Mahee|Sniglet|Sriracha|Text+Me+One');
@import "../palette.scss";

// font-family: 'Text Me One', sans-serif;
// font-family: 'Mukta Mahee', sans-serif;
// font-family: 'Faster One', cursive;
// font-family: 'Sriracha', cursive;
// font-family: 'Sniglet', cursive;

.main-session {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  flex-grow: auto;
  width: 100%;
  margin-top: 50px;
}


#myVideo {
  float: left;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.login-logo {
  font-family: 'Faster One', sans-serif;
  text-align: center;
  height: 17vh;
  font-size: 17vh;
  color: $blue;
  margin-left: 25px;
}

.sub-header {
  font-family: 'Helvetica';
  height: 4vh;
  font-size: 4vh;
  font-weight: 700;
  color: $blue;
  text-align: center;
  margin-top: 10px;
}


.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 30vw;
  font-family: 'Helvetica';
}

.session-form input {
  width: 75%;
  padding: 16px;
  text-align: center;
  font-size: 15px;
  font-family: 'Helvetica';
}

.session-form button {
  padding: 18px;
  width: 63%;
  border: hidden;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 530;
  color: white;
  background-color: $blue;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.first-session-button {
  margin: 4% 2%;
}

.session-form button:hover {
  background-color: $orange;
  
}

.errors {
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: red;
}

.selected {
  margin-top: 4%;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
//////////// Personal Plugs /////////

.main-plug {
  display: flex;
  position: fixed;
  bottom: 5vh;
  align-self: flex-start;
  align-items: flex-end;
  width: 20vw;
  height: 5vh;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-left: 2vw;
}

.main-plug a {
  color: $blue;
  font-size: 10vh;
  -webkit-transition: color .5s ease-in;
  -moz-transition: color .5s ease-in;
  -o-transition: color .5s ease-in;
  transition: color .5s ease-in;
}

.main-plug a:hover {
  color: $orange;
}

#angel {
  font-size: 9vh;
}
