// Place all the styles related to the api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Shout Outs Google Fonts <3
@import url('https://fonts.googleapis.com/css?family=Faster+One|Mukta+Mahee|Sniglet|Sriracha|Text+Me+One');

// font-family: 'Text Me One', sans-serif;
// font-family: 'Mukta Mahee', sans-serif;
// font-family: 'Faster One', cursive;
// font-family: 'Sriracha', cursive;
// font-family: 'Sniglet', cursive;

.main-session {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 800px;
  width: 100%;

}

.selected {
  color: white;
  text-align: center;
  text-decoration: none;
}

.myVideo {
  float: left;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.sub-header {
  font-family: 'Helvetica';
  font-size: 20px;
  font-weight: 600;
  color: hsla(210%, 100%, 60%, 1);
  text-align: center;
}


.login-logo {
  font-family: 'Faster One', sans-serif;
  height: 100px;
  font-weight: 400;
  font-size: 95px;
  color: hsla(210%, 100%, 60%, 1);

}

.session-form {
  // border: 2px solid hsla(196%, 100%, 28%, 1);
  height: 150px;
  width: 200px;
  padding: 15px;
  font-family: 'Helvetica';
}

.errors {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  color: red;
  margin-right: 17px;
}

.session-form button {
border: hidden;
background-color: rgba(53, 154, 255, 1);
width: 189px;
padding: 8px;
text-align: center;
font-size: 14px;
font-weight: bold;
color: white;
margin-top: 10px;
cursor: pointer;
}

#demo {
  margin-top: 2px;
}

.session-form input {
  padding: 10px 30px;
  text-align: center;
  font-size: 11px;
  font-family: 'Helvetica';

}



//////////// Personal Plugs /////////

.main-plug {
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 250px;
  margin-left: 30px;
}

.main-plug a {
  color: hsla(210%, 100%, 60%, 1);
  font-size: 50px;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.main-plug a:hover {
  color: orange;
}

// .git {
// }
//
// #angel {
//
// }
//
// #linked {
//
// }
