// Stylings for NavBar //

@import url('https://fonts.googleapis.com/css?family=Faster+One|Mukta+Mahee|Sniglet|Sriracha|Text+Me+One');
// font-family: 'Text Me One', sans-serif;
// font-family: 'Mukta Mahee', sans-serif;
// font-family: 'Faster One', cursive;
// font-family: 'Sriracha', cursive;
// font-family: 'Sniglet', cursive;
@import "../palette.scss";

// .navfadeInDown {
//   -webkit-animation-name: fadeInDown;
//   animation-name: fadeInDown;
//   animation-delay: .3s;
//   position: absolute;
// }


#main-nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: $blue;
  box-shadow: 1px 4px lightgray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {
  margin-left: 30px;
}

.left-nav input {
  margin-top: 4px;
  margin-left: 6px;
  text-indent: 23px;
  padding: 11px;
  width: 300px;
}

.fa-search {
  position: absolute;
  top: 27px;
  font-size: 20px;
  left: 89px;
  color: gray;
}

.left-nav p {
  font-family: "Faster One";
  font-size: 55px;
  margin-right: 13px;
  margin-bottom: 2px;
  color: $royal-blue;
  font-weight: 700px;
  -webkit-transition: color 1.5s ease-out;
  -moz-transition: color 1.5s ease-out;
  -o-transition: color 1.5s ease-out;
  transition: color 1.5s ease-out;
}

.left-nav P:hover {
  color: $orange;
}

.right-nav {
  padding-right: 19px;
}

.right-nav a {
  height: 54px;
  width: 48px;
  background-size: 48px 54px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 12px;
}

.right-nav button {
  height: 36px;
  width: 36px;
  background-size: 38px 38px;
  background-position: center;
  border-radius: 50px;
  padding-right: 4px;
  margin: 10px;
  cursor: pointer;
  background-image: url("https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/012_power-512.png");
}



#nba {
  background-image: url("https://www.underconsideration.com/brandnew/archives/nba_logo_before_after.png");
  display: inline-block;
  height: 55px;
  width: 29px;
  background-size: 200px 67px;
  background-position: -36px -6px;
  border: hidden;
  padding: 0px;
  margin-right: 10px;
  border-radius: 4px;
}

#nfl {
  background-image: url("https://vignette.wikia.nocookie.net/looneytunes/images/4/49/NFL-logo.png/revision/latest?cb=20140711021414");
}

#tennis {
  background-image: url("https://ccsu.co.uk/asset/Organisation/6469/tennis-logo.png?thumbnail_width=270&thumbnail_height=370&resize_type=ResizeFitAll");
}

#soccer {
  background-image: url("https://openclipart.org/image/800px/svg_to_png/241330/Soccer-Logo.png");
}

#tumblr {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/43/Tumblr.svg");
}
