// Stylings for NavBar //

@import url('https://fonts.googleapis.com/css?family=Faster+One|Mukta+Mahee|Sniglet|Sriracha|Text+Me+One');
// font-family: 'Text Me One', sans-serif;
// font-family: 'Mukta Mahee', sans-serif;
// font-family: 'Faster One', cursive;
// font-family: 'Sriracha', cursive;
// font-family: 'Sniglet', cursive;
@import "../palette.scss";

.navfadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-delay: .1s;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  align-items: center;
  width: 100%;
  height: 78px;
  z-index: 9800;
  background-color: $blue;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,.5);
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {
  margin-left: 30px;
}

.left-nav input {
  margin-top: 4px;
  margin-left: 6px;
  text-indent: 23px;
  padding: 11px;
  width: 300px;
}

.fa-search {
  position: absolute;
  top: 31px;
  font-size: 20px;
  left: 93px;
  color: gray;
}

.left-nav a {
  text-decoration: none;
}

.left-nav p {
  font-family: "Faster One";
  cursor: pointer;
  font-size: 55px;
  margin-right: 13px;
  margin-bottom: 2px;
  color: $royal-blue;
  font-weight: 700px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.left-nav P:hover {
  color: $orange;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.right-nav {
  padding-right: 19px;
}

.right-nav a {
  height: 65px;
  width: 50px;
  background-size: 48px 54px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 12px;

}

.right-nav button {
  height: 36px;
  width: 36px;
  background-size: 38px 38px;
  background-position: center;
  border-radius: 50px;
  padding-right: 4px;
  margin: 10px;
  cursor: pointer;
  background-image: url("https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/012_power-512.png");
}

.right-nav a:hover {

}



#nba {
  background-image: url("https://www.underconsideration.com/brandnew/archives/nba_logo_before_after.png");
  display: inline-block;
  height: 60px;
  width: 31px;
  background-size: 210px 71px;
  background-position: -37px -5px;
  border: hidden;
  padding: 0px;
  margin-right: 10px;
  border-radius: 6px;
}

#nfl {
  background-image: url("https://vignette.wikia.nocookie.net/looneytunes/images/4/49/NFL-logo.png/revision/latest?cb=20140711021414");
}

#tennis {
  background-image: url("https://ccsu.co.uk/asset/Organisation/6469/tennis-logo.png?thumbnail_width=270&thumbnail_height=370&resize_type=ResizeFitAll");
}

#soccer {
  background-image: url("https://openclipart.org/image/800px/svg_to_png/241330/Soccer-Logo.png");
}

#tumblr {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/43/Tumblr.svg");
}
