@import "../palette.scss";


.main-score-index {
  display: inline-block;
  position: fixed;
  right: 3%;
  top: 13.5%;
  height: 80vh;
  width: 340px;
  border: 2px solid black;
  // align-self: flex-end;
}

.tab-header {
  width: 340px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.tab-header > li{
  background-color: $blue;
  padding-top: 6px;
  width: 67px;
  border-top: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-align: center;
  cursor: pointer;
}

.tab-header > li:first-child{
  border-left: 2px solid black;
}

.tab-header > li:last-child{
  border-right: 2px solid black;
}

.tab-header > li:hover{
  background-color: $orange;
  color: $blue;
}

.active {
  font-weight: bold;
}

.tab-content {
  font-family: Helvetica;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 93%;
}

.tab-content li {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  height: 70px;
  line-height: 1;
}

.tab-content h1 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.match-results {
  align-self: center;
  display: flex;
  flex-direction: column;
}
