@import "../palette.scss";

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  animation-delay: .5s;
}

.main-score-index {
  font-family: Helvetica;
  display: inline-block;
  position: fixed;
  right: 4%;
  top: 13.5%;
  height: 60vh;
  width: 23%;
  box-shadow: 0 0 1px 0 rgba(0,0,0,.3);
  border-radius: 2px;
  // border: 2px solid black;
  // align-self: flex-end;
}

// .main-tabs {
//   display: flex;
//   flex-direction: column;
// }

.tab-header {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: flex;
}
//
// .change-dates {
//   display: flex;
//   justify-content: space-between;
//   height: 50px;
//   width: 98%;
//   border: 2px solid lightgray;
//   margin: 0 auto;
// }

.tab-header > li{
  flex-grow: 1;
  padding-top: 13px;
  width: 25%;
  // border-top: 2px solid black;
  // border-left: 1px solid black;
  // border-right: 1px solid black;
  // border-bottom: 2px solid gray;
  // border-top-left-radius: 2px;
  // border-top-right-radius: 2px;
  box-shadow: 3px 3px 3px 1px rgba(0,0,0,.3);
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
  color: $blue;
}

// .tab-header > li:first-child{
//   border-left: 2px solid gray;
// }
//
// .tab-header > li:last-child{
//   border-right: 2px solid gray;
// }

.tab-header > li:hover{
  background-color: $blue;
  color: $orange;
}

.active {
  font-weight: bold;
}

#current-date {
  font-size: 22px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  flex-direction: row;
}

#current-date span {
  color: gray;
  padding-top: 6px;
}

#current-date button {
  cursor: pointer;
  color: $orange;
}

#current-date > button, span {
  flex-grow: 1;
}

.tab-content {
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  height: 90%;
  margin-top: 2px;
  margin-left: 1px;
  padding: 8px;
  background-color: lightgray;
  box-shadow: 0 1.5px 5px 1px rgba(0,0,0,.5);
}

.tab-content li {
  display: flex;
  height: 90px;
  flex-grow: 1;
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 5px;
  padding: 8px;
  background-color: white;
  box-shadow: 0 1.5px 5px 1px rgba(0,0,0,.5);
}

.tab-content h1 {
  font-weight: 600;
}

.game-status,
.away-team,
.home-team {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
}

.tab-content > li:last-child {
  border-bottom: none;
}
