@import "../palette.scss";

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  animation-delay: .5s;
}


.main-score-index {
  font-family: Helvetica;
  display: inline-block;
  position: fixed;
  right: 3%;
  top: 12.5%;
  height: 68vh;
  width: 23%;
  box-shadow: 0 0 1px 0 rgba(0,0,0,.3);
  border-radius: 2px;
  // border: 2px solid black;
  // align-self: flex-end;
}

.tab-header {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: flex;
}

.tab-header > li{
  flex-grow: 1;
  padding-top: 13px;
  width: 25%;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,.4);
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
  color: $blue;
  -webkit-transition: color .25s ease-out;
  -moz-transition: color .25s ease-out;
  -o-transition: color .25s ease-out;
  transition: color .25s ease-out;
}

.tab-header > li:hover{
  color: $orange;
}

.tab-header > li.active {
  font-weight: 900;
  color: $orange;
}

#current-date {
  font-size: 4.5vh;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  flex-direction: row;
}

#current-date span {
  color: $dark-indigo;
  margin-top: .5vh;
  font-size: 3.5vh;
  padding-top: 6px;
}

#current-date button {
  cursor: pointer;
  color: $orange;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#current-date button:hover {
  color: $blue;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

#current-date > button, span {
  flex-grow: 1;
}

.tab-content {
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  height: 90%;
  margin-top: 2px;
  margin-left: 1px;
  padding: 8px;
  background-color: lightgray;
  box-shadow: 0 1.5px 5px 1px rgba(0,0,0,.5);
}

.tab-content li {
  display: flex;
  height: 90px;
  flex-grow: 1;
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 5px;
  padding: 8px;
  background-color: white;
  box-shadow: 0 1.5px 5px 1px rgba(0,0,0,.5);
}

.tab-content h1 {
  font-weight: 600;
}

.game-status,
.away-team,
.home-team {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
}

.tab-content > li:last-child {
  border-bottom: none;
}

.game-date {
  font-size: 15px;
  color: gray;
}
