// Temp Post Form Styling //
@import "../palette.scss";


// .mainfadeInUp {
//   -webkit-animation-name: fadeInUp;
//   animation-name: fadeInUp;
//   animation-delay: .3s;
// }

.main-index {
  // border: 3px solid $royal-blue;
  display: flex;
  flex-direction: column-reverse;
  width: 48%;
  margin: 0 auto;
}


.feed-index-item {
  // border: 2px solid black;
  display: flex;
  justify-content: space-between;
  font-family: Helvetica;
  width: 99%;
  border-radius: 4px;
  margin-bottom: 15px;
}

.content {
  border: 2px solid gray;
  display: flex;
  margin-right: 35px;
  margin-bottom: 20px;
  flex-direction: column;
  width: 70%;
  border-radius: 5px;
  box-shadow: -5px 5px 10px gray;
}

#fii-profile {
  border: 1px solid black;
  display: flex;
  align-self: flex-start;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  margin-top: 10px;
  margin-left: 25px;
}

.fii-title {
  line-height: 1;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding: 24px;
  color: gray;
}

.fii-buttons {
  align-self: flex-end;
  display: inline-flex;
  width: 100px;
  height: 30px;
}

.fii-buttons button {
  border: hidden;
  padding: 5px;
}
