/* Coolors Exported Palette - coolors.co/afd4ff-91aeff-359aff-006990-002635 */

/* HSL */
$baby-blue: hsla(212%, 100%, 84%, 1);
$light-purple: hsla(224%, 100%, 78%, 1);
$blue: hsla(210%, 100%, 60%, 1);
$indigo: hsla(196%, 100%, 28%, 1);
$dark-indigo: hsla(197%, 100%, 10%, 1);

/* RGB */
$baby-blue: rgba(175, 212, 255, 1);
$light-purple: rgba(145, 174, 255, 1);
$blue: rgba(53, 154, 255, 1);
$indigo: rgba(0, 105, 144, 1);
$dark-indigo: rgba(0, 38, 53, 1);
