///// Temp Component Stuff /////

.temporary {
	display: flex;
	background-image: url("https://media.giphy.com/media/BxqgPSmzJQ3zG/giphy.gif");
	background-size: 1200px 550px;
	flex-direction: column;
	// align-items: center;
	// justify-content: center;
	font-family: "Sriracha";
	height: 550px;
	width: 1200px;
	color: purple;
	font-size: 45px;
	font-weight: 900px;
	text-shadow: 2px .5px yellow;
}

.greetings {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.sorry {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-delay: 1s;
}

.workin {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-delay: 2s;
}

.logout {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-delay: 3s;
}
.or {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-delay: 3.4s;
	font-size: 37px;
	margin-top: 37px;
}
