@import "../palette.scss";

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  display: flex;
  padding: 5px;
  width: 50%;
  top: 20%;
  left: 25%;
  position: absolute;
  flex-direction: column;
  z-index: 9999;
  background: #FFFF;
  box-shadow: -15px 10px 10px gray;
  border-radius: 10px;
  border: hidden;
}

.modal-title {
  padding: 20px;
  font-size: 30px;
  border: hidden;
}

.modal-content {
  resize: none;
  height: 200px;
  font-size: 20px;
  padding-top: 14px;
  text-indent: 10px;
  border: hidden;
}

.modal-description {
  margin-top: 1px;
  font-size: 17px;
  padding: 16px;
  height: 20px;
  border: hidden;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  width: 120px;
  font-family: Helvetica;
  margin-right: 5px;
}

.modal-url {
  font-size: 17px;
  height: 20px;
  padding: 16px;
  border: hidden;
}


.modal-buttons button {
  border-radius: 10px;
  cursor: pointer;
  background-color: $blue;
  padding: 10px;
}
