.fii-photo-title {
  line-height: 1;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
  padding: 20px;
  color: gray;
}


.fii-photo-img {
  height: 400px;
  align-self: center;
  width: 99%;
  margin-top: 4px;
  border-radius: 2px;
}

.fii-photo-description {
  font-size: 14px;
  text-align: left;
  margin-left: 20px;
  padding-top: 8px;
  color: gray;
}
