// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "../palette.scss";


// -webkit-animation-name: fadeInDown;
// animation-name: fadeInDown;
// animation-delay: .4s;
.postflipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
  animation-delay: .5s;
}

.navfadeInDown {
}



.main-post-form {
  // border: 5px solid $blue-green;
  z-index: 9899;
  display: flex;
  justify-content: flex-end;
  margin-top: 7%;
  margin-bottom: 2%;
  margin-left: 19%;
  height: 120px;
  width: 51%;
  text-align: center;
}

#currentUser-profile {
  cursor: pointer;
  display: flex;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 10px;
  // border: 1px solid black;
  border-radius: 2px;
  height: 90px;
  width: 90px;
  box-shadow: 0 1.5px 5px 1px rgba(0,0,0,.5);
}

.group-post-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  width: 90%;
  // border: 2px solid gray;
  box-shadow: 0 1.5px 5px 1px rgba(0,0,0,.5);
  border-radius: 2px;
  overflow: hidden;
}

.post-buttons {
  display: flex;
  flex-grow: auto;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
  font-size: 50px;
  color: $blue;
  padding: 17px;
  text-align: center;
  // -webkit-transition: color 1s ease-out;
  // -moz-transition: color 1s ease-out;
  // -o-transition: color 1s ease-out;
  // transition: color 1s ease-out;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.gif-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  color: $blue;
  text-align: center;
  -webkit-transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
  transition: color 2s ease-out;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.gif-button svg {
  width: 85px;
  height: 60px;
}

#powered {
  margin-top: 13px;
  width: 80px;
  height: 18px;
}
.gif-button:hover {
  color: $orange;
  transform: scale(1.1);
}

.post-buttons:hover {
  color: $orange;
  transform: scale(1.1);
}


.post-buttons h4 {
  font-family: Helvetica;
  color: $orange;
  font-size: 18px;
  align-self: center;
  text-align: center;
  margin-top: 5px;
  -webkit-transition: color .5s ease-out;
  -moz-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;
}


.post-buttons h4:hover {
  color: $blue;
}
