@import "../palette.scss";


.fii-text-img {
  height: 350px;
  align-self: center;
  width: 93%;
  margin-top: 4px;
  border-radius: 10px;
}

.fii-text-content {
  padding: 15px;
  font-size: 17px;
  line-height: 1.3;
  text-align: left;
  width: 95%;
}

.fii-description {
  font-size: 15px;
  text-align: left;
  margin-left: 18px;
  padding-top: 8px;
  color: gray;
}
