@import url('https://fonts.googleapis.com/css?family=Faster+One|Mukta+Mahee|Sniglet|Sriracha|Text+Me+One');
// font-family: 'Text Me One', sans-serif;
// font-family: 'Mukta Mahee', sans-serif;
// font-family: 'Faster One', cursive;
// font-family: 'Sriracha', cursive;
// font-family: 'Sniglet', cursive;
@import "../palette.scss";


.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}


.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.user-modal {
  position: fixed;
  top: 10.5%;
  padding: 5px;
  width: 50%;
  max-height: 87%;
  overflow-y: auto;
  flex-direction: column;
  z-index: 9999;
  background: #FFFF;
  box-shadow: -15px 10px 10px gray;
  border-radius: 2px;
  border: hidden;
}

.user-backdrop {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 250px;
  background-color: $baby-blue;
}

.user-backdrop p {
  font-family: "Faster One";
  font-size: 40px;
  color: $blue;
  margin-top: 140px

}

.user-backdrop img {
  margin-top: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  opacity: 1;
}

.user-feed {
  display: flex;
  flex-direction: column-reverse;
  width: 95%;
  margin-top: 60px;
  padding-left: 35px;
}

.user-feed .content {
  width: 100%;
}
